* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

/* ===== NAVBAR ===== */
header {
    background: #0a192f;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #64ffda;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ccd6f6;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #64ffda;
}

/* ===== HERO ===== */
.hero {
    height: 90vh;
    background: linear-gradient(135deg, #0a192f, #112240);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1:hover {
    color: #64ffda;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #64ffda;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

/* ===== SECTIONS ===== */
.section {
    padding: 60px 10%;
}

.section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #0a192f;
}
.hero img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items:  center;
    border-radius: 30%;
    width: 150px;
}
.hero img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
/* ===== SKILLS ===== */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: #0a192f;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.skill:hover{
    background: #1f6fe8;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.2s;
    transform : scale(1.1);
}
/* ===== PROJECTS ===== */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.project-card a {
    color: #0a192f;
    font-weight: bold;
}

/* ===== CONTACT ===== */
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background: #0a192f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    padding: 15px;
    background: #0a192f;
    color: #ccd6f6;
}

